<h1>Burger!</h1>

<h2>Burgers are Great!</h2>

<ul>
  {{#each burger}}
    {{#unless devoureded}}
      {{> burger/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that were devoureded!</h2>

<ul>
  {{#each burger}}
    {{#if devoureded}}
      {{> burger/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devo">devoureded?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> Not devoured
  </div>

  <button type="submit">Add burger</button>
</form>
