body {
    background-image: linear-gradient(to bottom right, yellow, darkorange);
    height: 100vh;
    font-size: 1.2em;
  }
  
  .title {
    color: brown;
  }
  

  
  #right-col {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.75;
  }